/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* DealComponent.css */

/* DealComponent.css */

/* DealComponent.css */

@keyframes slideUp {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-slide-up {
    animation: slideUp 0.5s ease-in-out;
}





body {
    background-color: #FFF;
    font-family: 'Inter', sans-serif;
}

@media (min-width: 1441px) and (max-width: 2561px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 1280px) and (max-width: 1441px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .container {
        max-width: 100%;
    }
}

/*------------------------------------     Offers.js     ------------------------------------*/


@media (max-width: 1280px) {
    .offers-container {
        max-width: 90%;
    }
}

@media (max-width: 835px) {
    .offers-container {
        height: 400px;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .offers-container {
        height: 400px;
    }
}

@media (min-width: 320px) and (max-width: 426px) {
    .offers-container {
        margin-top: 60px;
    }
}

@media (max-width: 835px) {
    .offers-title {
        font-size: 30px;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .offers-title {
        font-size: 30px;
    }
}

@media (max-width: 835px) {
    .offers-grid {
        grid-template-columns: repeat(4, 400px);
        grid-template-rows: repeat(2, 133px);
        gap: 15px;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .offers-grid {
        grid-template-columns: repeat(4, 400px);
        grid-template-rows: repeat(2, 133px);
        gap: 15px;
    }
}

@media (max-width: 835px) {
    .offer-card {
        width: 400px;
        height: 140px;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .offer-card {
        width: 400px;
        height: 140px;
    }
}

.offer-card:hover {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
}

@media (min-width: 425px) and (max-width: 768px) {
    .offer-title {
        font-size: 15px;
        width: 216px;
    }
}

@media (max-width: 835px) {
    .offer-title {
        font-size: 15px;
        width: 216px;
    }
}


/*------------------------------------     Locations.js     ------------------------------------*/

@media (max-width: 1280px) {
    .locations-container {
        max-width: 90%;
    }
}

@media (max-width: 1024px) {
    .location-image {
        width: 70px;
        height: 70px;
    }
}

.location-name {
    font-size: 25px;
    font-weight: 600;
    line-height: 110%;
}

@media (max-width: 1024px) {
    .location-name {
        font-size: 20px;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .location-name {
        font-size: 14px;
    }
}

@media (max-width: 835px) {
    .location-name {
        font-size: 14px;
    }
}


/*------------------------------------     HeroSection.js     ------------------------------------*/

.hero-section {
    width: 100%;
    height: 742px;
    background: lightgray -236.636px -326.188px / 128.627% 154.412% no-repeat;
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in;
}

@media (max-width: 1280px) {
    .hero-section {
        height: 650px;
    }
}

@media (max-width: 1024px) {
    .hero-section {
        height: 550px;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .hero-section {
        height: 550px;
    }
}


/*------------------------------------     Header.js     ------------------------------------*/


@media (min-width: 425px) and (max-width: 768px) {
    .header img {
        height: 2rem;
    }
}

@media (max-width: 835px) {
    .header img {
        height: 2rem;
    }
}

.custom-underline {
    text-decoration: underline #EB2226;

}